/*Style the header section*/
header{
    height: 10%;
    width: 100%;
    background-color: aliceblue;
    display: flex;
}

/*
Style the article section that contains all the record. 
Let header.height + article.height = 100%*/
article{
    display: block;
    height:90%;
    width:100%;
    background-color: rgba(255, 255, 255, .4);
    overflow: scroll; 
}

records{
    display: flex;
    flex-wrap: wrap;
}

record{
    display: flex;
    /*
    Draw a boorder around a record*/
    border:0px solid #ccc;
    /*
    Yes a whole record can be selected*/
    cursor:pointer;    

    flex-direction: column;
    flex-wrap: wrap;
    width:33%;
}

/*
Show alternate records with different colours for easw of readability*/
record:nth-child(even){
    background:lightgrey
}

/*
Display of selected records and fields*/
*[current=record]{
    background-color: yellow;
}

*[current=field]{
    background-color:#aff4f4;
}

/*
All labels can be pointed at*/
label, #error{
    cursor:pointer;
}

/*
Foreign labels should mimic a button*/
label.foreign{
    background-color: buttonface;
}

label.normal{
    font-weight: bold;
    background: lightcyan;
}

/*
Show the labels named 'status' with a much smaller font*/
label[name=status]{
    font-size:small;
}

/*
Do not display the labels*/
span.normal {
    display:none;
}

td,th{
    border:1px solid #ccc;
    padding:6px 12px;
    text-align:left;
    vertical-align:top;
    background-color:inherit;
}

th{
    background-color:#dee8f1;
}

/*
Always show the error in red*/
#error{
 color: red;   
}

        